<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head")%>
  </head>
  <body>
    <%- include("partials/navigation") %>

    <main
      class="vh-100 pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, dolor
          voluptates enim quaerat magni facilis voluptatibus minus laborum
          doloremque excepturi voluptatem. Vitae eligendi tempora quibusdam quod
          alias ipsum, similique dolorem saepe perferendis commodi asperiores
          obcaecati eum, tenetur hic, eius recusandae impedit veniam fuga
          provident inventore. In fugit fuga doloribus laboriosam temporibus,
          excepturi ut dolore sunt distinctio dolorem quia, accusantium iure
          praesentium? Nam doloremque deleniti quos magnam mollitia laborum unde
          quam eligendi quia porro, error molestias deserunt et rerum sint esse
          soluta odio alias sunt, ducimus ipsum architecto nobis. Libero
          adipisci modi cumque laudantium praesentium, architecto incidunt dolor
          aspernatur earum veritatis nisi eaque distinctio officiis illo ab,
          iure, ratione quisquam explicabo facere quam. Veniam voluptatum vero
          deserunt debitis officia cum repellendus quasi illo dolor quidem
          tenetur facere ea quisquam, laboriosam adipisci inventore, repudiandae
          vel aliquam reprehenderit perferendis qui facilis? Inventore debitis
          vel modi repellendus voluptates nisi esse iusto itaque, iure, aliquid
          dolor officiis aliquam. Veniam, dolores? Molestiae, omnis. Numquam
          necessitatibus voluptatum explicabo, amet, mollitia assumenda nemo
          nisi saepe excepturi vel itaque ducimus ea! Sapiente consequuntur
          dolorem aspernatur deleniti necessitatibus ipsum sunt, totam, suscipit
          et, doloremque aperiam. Cupiditate numquam pariatur hic iusto? Est
          voluptatibus nisi exercitationem doloribus distinctio quae nostrum
          laboriosam? Assumenda!
        </p>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
